//About

.about-wrapper{
    .top-content{
        margin-bottom:10.5rem;
        .toptxt{
            padding: 2.5rem;
            h1{
                color:@title-color;
                padding-bottom: 2rem;
            }
            p{
                color:@hover-color;
            }
        }//Top text
        .signupbtn{
            padding-left:5rem;
            .aboutbtn{
                .button-master(1.5rem, 1.5rem);
                .activate();
                .hover();
                width:20rem;
            }//The Sign up Button
        }//Sign up Button Container
    }//Top Content
    .middle-content{
        // border:1px red solid;
        display:flex;
        justify-content: space-around;
        h3{
            color:@title-color;
        }
        p{
            color:@hover-color;
            padding: 0.5rem;
        }
        .middle-box{
            // border:1px red solid;
            width: 25%;
        }
    }//Middle Content
    .team{
        margin:5rem;
        
        h2{
            color:@title-color;
        }
        p{
            color:@hover-color;
            padding: 0.5rem;
        }
        h3{
            color:@hover-color;
        }
        h4{
            padding-top: 1rem;
            color: @hover-color;
        }
        .teamtext{
            text-align: center;
            padding:2rem;
            // border:1px red solid;
            border-bottom: 0.2rem @border-color dashed;
        }
        .bios{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            margin:2rem;
            // border:1px red solid;
            .teamcards{
                display:flex;
                flex-direction: column;
                // border:1px red solid;
                background:@bio-bg;
                box-shadow: 20px 15px 22px #00000048;
                width:30%;
                height: 50rem;
                margin: 2rem;
                padding: 1rem;
                align-items: center;
                p{
                    padding-bottom:2rem;
                }
                .gitbtn{
                    .button-master(1.5rem, 1.5rem);
                    .activate();
                    .hover();
                    width:15rem;
  
                }//Git Button
            }//Teamcards
        }//Bios
    }//Team
}//about wrapper