//About
* { border: 1px solid black; }
.about-wrapper{
    .top-content{
        .toptxt{
            h1{
                color:black;
            }
            p{
                color:black;
            }
        }
    }
}