* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  body{
    padding-top: 9.85rem;
    @media @tablet{
      padding-top: 6rem;
    }
    @media @mobile{
      padding-top: 6rem;
    }
  }
  html, body {
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3, h4, h5, p, a{
    color:@font-color
  }
  h1 {
    font-size: 4.8rem;
    font-family: 'Cormorant Garamond', semi-bold;
  }
  
  h2 {
    font-size: 3.6rem;
    font-family: 'Cormorant Garamond', medium italic;
  }
  
  h3 {
    font-size: 3rem;
    font-family: 'Roboto', bold;

  }
  h4{
      font-family: 'Roboto', bold;
      font-size: 2.4rem;
  }
  h5 {
      font-family: 'Cormorant Garamond', medium italic;
  }
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  a{
      text-decoration: none;
      font-size: 2rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .site-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0  auto;
    height: 80%;
    @media @mobile{
      height:50%;
    }
  }
  
.backgroundLanding{
  background:black;
  z-index:-189;
  width:auto;
  height: 90vh;
  background: rgba(235, 231, 231, 0.625);
  @media @mobile{
    background-image: url("/imgs/book.jpg");
}
}
.about-wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0  auto;
  height: 100%;
}
.about-body{
  padding-bottom:10rem;
}