.site-wrapper{
    background:@main-bg;
    .CTA{
        .cta-txt{
            h1{
                color: @body-color;
            }
            h3{
                color:@body-color;
            }
        }//End of CTA TEXT
    }//End of CTA
}//Site Wrapper