header {
    position: fixed;
    top:0;
    background:@temp;
    width:100%;
    padding:2rem;
    border-bottom: 0.2rem dashed @border-color;
    .navbar{
        margin: 0 auto;
        width:1000px;
        display:flex;
        .logo{
            width:82%;
        }
        nav{
            margin: 0 auto;
            width:15%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 1.8rem;
                &:hover{
                    color:@hover-color;
                }
            }
            #signIn{
                color:@nav-bg;
                &:hover{
                    color:@hover-color;
                }
            }
        }//NAV
    }//NavBar
}//HEADER