header {
    position: fixed;
    top:0;
    background:@nav-bg;
    width:100%;
    padding:2rem;
    .navbar{
        margin: 0 auto;
        width:1000px;
        display:flex;
        .logo{
            width:82%;
        }
        nav{
            margin: 0 auto;
            width:15%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 1.8rem;
                &:hover{
                    color: darken(@font-color, 20%);
                }
            }
        }//NAV
    }//NavBar
}//HEADER