header {
    position: fixed;
    top:0;
    background:@nav-bg;
    width:100%;
    padding:2rem;
    @media @mobile{
        padding:1rem;
    }//Phone
    .navbar{
        margin: 0 auto;
        width:1000px;
        display:flex;
        @media @mobile{
            width: 100%;
        }//Phone
        .logo{
            width:82%;
            @media @mobile{
                width: 70%;
            }//Phone
        }//logo
        nav{
            margin: 0 auto;
            width:15%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            @media @mobile{
                width: 30%;
                a{
                    font-size: 3rem;
                }
            }//Phone
            a{
                font-size: 1.8rem;
                &:hover{
                    color:@hover-color;
                }
            }
            #signIn{
                color:@title-color;
                &:hover{
                    color:@hover-color;
                }
            }
        }//NAV
    }//NavBar
}//HEADER