//Fonts
@buttonfont: 2rem;



// Color assignments 
@font-color: white;
@body-color:#EED98F;
@title-color: #BF9018;

// @button-bg: ;
@main-bg: #169923; 
@nav-border:#585656;
@nav-bg:#0D5814 ;

//Display
@mobile: ~"(max-width: 500px)";
@tablet: `"(max-width: 800px)";
