//Fonts
@buttonfont: 2rem;
// Color assignments 
@font-color: white;
@body-color:#EED98F;
@title-color: #BF9018;  
@hover-color: #332706;
@border-color: #E5E4E1;
// @button-bg: ;
@main-bg: #169923de; 
@nav-bg:rgba(13, 88, 21, 0.92);

//Display
@mobile: ~"(max-width: 500px)";
@tablet: `"(max-width: 800px)";
